* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

header {
    background: rgb(35, 185, 244);
    padding: 20px 0;
}

header > nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav > menu {
    display: flex;
    list-style: none;
    gap: 10px;
}

menu > li:hover {
    cursor: pointer;
}

aside p {
    padding: 20px;
}

a {
    color: chocolate;
    text-decoration: none;
}